#hcad_callForm {
    padding: 1rem;
    min-width: 400px;
}

#hcad_callForm input {
    height: 1.5rem;    
}

.newCall {
    border: 2px solid black;
}

.updatingCall {
    border: 2px solid red;
}

.viewingCall {
    border: 2px solid blue;
}

/* top */

#hcad_callform_radiodiv {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.hcad_callform_radio {
    margin: 0 10px 0 5px;
}

#hcad_callform_incidentNumber {
    flex-grow: 1;
}

#hcad_callForm_topdiv {
    display: flex;
    flex-flow: column;
}

#hcad_callForm_addressinput {
    flex-grow: 1;
}

#hcad_callForm_calltypeselect {
    height: 30px;
    cursor: pointer;
}

#hcad_callForm_priorityselect {
    margin-left: 1rem;
    height: 30px;
    cursor: pointer;
}



/* remarks */

#hcad_callform_remarksdiv {
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

#hcad_callform_remarksinputwrapper {
    display: flex;
}

#hcad_callform_remarksinput {
    flex-grow: 1;
}

#hcad_callform_remarkslistwrapper {
    border: 1px solid black;
    flex-grow: 1;
    height: 15rem;
    overflow-y: scroll;
}

#hcad_callform_remarkslist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column-reverse;
}

.hcad_callform_remarkli {
    padding: 0.25rem;
    text-wrap: wrap;
}

.hcad_callform_remarkli:nth-child(even) {
    background-color: lightgray;
}

.hcad_callform_remarkli_text, .hcad_callform_remarkli_time {
    padding: 0;
    margin: 0;
}

/* caller section */

#hcad_callform_callerdiv {
    display: flex;
    flex-flow: column;
}

#hcad_callform_callerdiv_top {
    display: flex;
}

#hcad_callform_callername {
    flex-grow: 1;
}

#hcad_callform_callerphone {
    width: 8rem;
}

#hcad_callform_calleraddress {
    flex-grow: 1;
}

#hcad_callform_submitbtn {
    background-color: rgb(255, 230, 183);
    cursor: pointer;
}

#hcad_callform_submitbtn:hover {
    background-color: rgb(241, 216, 169);
}

#hcad_callformoverlay_wrapper {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#hcad_callformoverlay {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: absolute;
    top: 15%;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: lightgray
}

#hcad_callformoverlay {
    text-wrap: nowrap;
}

#hcad_callformoverlay_buttonwrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}