#hcad_calllist_table_wrapper {
    width: 100%;
    display: inline-flex;
    flex-flow: column;
    overflow-y: scroll;
    border: 2px solid black;
}

#hcad_calllist_table {
    table-layout: fixed;
    border-collapse: collapse;
    overflow-y: scroll;
}

#hcad_calllist_table thead {
    color: white;
    background-color: gray;
}

#hcad_calllist_table tr {
    border-bottom: 1px solid black;
}

#hcad_calllist_table th, #hcad_calllist_table td {
    text-align: center;
    overflow: hidden;
}

#hcad_calllist_th_priority, #hcad_calllist_th_pending {
    width: 80px;
}

#hcad_calllist_th_type {
    min-width: 225px;
}

#hcad_calllist_th_address {
    min-width: 300px;
}

#hcad_calllist_th_number {
    width: 80px;
}

#hcad_calllist_th_units {
    width: 100px;
}

.hcad_callrow_td_address, .hcad_callrow_td_units p {
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.hcad_callrow_td_address {
    max-width: 400px;
}

.hcad_callrow_td_units {
    font-size: 14px;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    max-width: 100px;
    min-width: 100px;
}

.hcad_callrow {
    cursor: pointer
}

.hcad_callrow_callpriority0 * {
    background-color: red !important;
    color: white !important
}

.hcad_callrow_callpriority1 * {
    background-color: rgb(253, 180, 180) !important;
}

.hcad_callrow_callpriority2 * {
    background-color: rgb(252, 253, 180) !important;
}