#hcad_unitList_table_wrapper {
    width: 100%;
    display: inline-flex;
    flex-flow: column;
    overflow-y: scroll;
    border: 2px solid black;
}

#hcad_unitList_table {
    table-layout: fixed;
    border-collapse: collapse;
    overflow-y: scroll;
}

#hcad_unitList_table * {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#hcad_unitList_table thead {
    color: white;
    background-color: gray;
}

#hcad_unitList_table tr {
    border-bottom: 1px solid black;
}

#hcad_unitList_table th, #hcad_unitList_table td {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.hcad_unitrow {
    cursor: pointer;
}

.hcad_unitrow_statusAV {
    background-color: rgba(163, 255, 140, 0.699);
}

.hcad_unitrow_statusDP {
    background-color: rgba(247, 140, 255, 0.699);
}

/* table headers */

#hcad_unitList_th_unit {
    width: 50px;
}

#hcad_unitList_th_idle {
    width: 50px;
}

#hcad_unitList_th_status {
    width: 60px;
}

#hcad_unitList_th_officer {
    width: 120px;
}

.hcad_unitrow_td_officer {
    text-align: left !important;
    overflow: ellipsis;
    text-wrap: nowrap;
}

#hcad_unitList_th_badge {
    width: 80px;
}

#hcad_unitList_th_calltype {
    width: 225px;
}

#hcad_unitList_th_incnum {
    width: 80px;
}

#hcad_unitList_th_actions {
    width: 100px;
}

#hcad_dispatchunitbtn {
    cursor: pointer;
    background-color: aquamarine;
    border: 1px solid black;
}

#hcad_dispatchunitbtn:hover {
    background-color: rgb(113, 224, 187);

}

#hcad_clearunitbtn {
    cursor: pointer;
    background-color: lightpink;
    border: 1px solid black;
}

#hcad_clearunitbtn:hover {
    background-color: rgb(228, 165, 175);
}

#hcad_editunitbtn {
    cursor: pointer;
    background-color: aqua;
    border: 1px solid black;
}

#hcad_editunitbtn:hover {
    background-color: rgb(0, 223, 223);
}

#hcad_unitlist_createunit {
    cursor: pointer;
}