#hcad_unitList_table_wrapper {
    width: 100%;
    display: inline-flex;
    flex-flow: column;
    overflow-y: scroll;
    border: 2px solid black;
}

#hcad_unitList_table {
    table-layout: fixed;
    border-collapse: collapse;
    overflow-y: scroll;
}

#hcad_unitList_table thead {
    color: white;
    background-color: gray;
}

#hcad_unitList_table tr {
    border-bottom: 1px solid black;
}

#hcad_unitList_table th, #hcad_unitList_table td {
    text-align: center;
    overflow: hidden;
}

.hcad_unitrow_statusAV {
    background-color: rgba(163, 255, 140, 0.699);
}

.hcad_unitrow_statusDP {
    background-color: rgba(247, 140, 255, 0.699);
}

/* table headers */

#hcad_unitList_th_unit {
    width: 50px;
}

#hcad_unitList_th_idle {
    width: 50px;
}

#hcad_unitList_th_status {
    width: 60px;
}

#hcad_unitList_th_officer {
    width: 120px;
}

.hcad_unitrow_td_officer {
    text-align: left !important;
    overflow: ellipsis;
    text-wrap: nowrap;
}

#hcad_unitList_th_badge {
    width: 80px;
}

#hcad_unitList_th_calltype {
    width: 225px;
}

#hcad_unitList_th_incnum {
    width: 80px;
}

#hcad_unitList_th_actions {
    width: 70px;
}

#hcad_dispatchunitbtn {
    cursor: pointer;
}
#hcad_clearunitbtn {
    cursor: pointer;
    background-color: lightpink;
}