body {
    height: 100vh;
    margin: 0;
}

#root {
    height: 100%;
}

#hcad_app {
    display: flex;
    flex-flow: column;
    min-width: 1100px;
    height: 100%;
}

#hcad_topdiv {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

#hcad_bottomdiv {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 1;
}

.noselect, button, th {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }