#hcad_callForm_topdiv {
    display: flex;
}

#hcad_callForm_addressinput {
    flex-grow: 1;
}

#hcad_callform_remarksdiv {
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

#hcad_callform_remarksinputwrapper {
    display: flex;
}

#hcad_callform_remarksinput {
    flex-grow: 1;
}

#hcad_callform_remarkslistwrapper {
    border: 1px solid black;
    flex-grow: 1;
    height: 15rem;
    overflow-y: scroll;
}

#hcad_callform_remarkslist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column-reverse;
}

.hcad_callform_remarkli {
    padding: 0.25rem;
}

.hcad_callform_remarkli:nth-child(odd) {
    background-color: lightgray;
}

.hcad_callform_remarkli_text, .hcad_callform_remarkli_time {
    padding: 0;
    margin: 0;
}